#root {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}

.episodes {
  background-color: whitesmoke;
  padding: 20px;
  text-align: center;
  margin: 10px;
  
}

.showlist {
  
  background-color: whitesmoke;
  padding: 20px;
  text-align: center;
  margin: 10px;
  display: none;
}

h1 {
  text-align: right;
}

body {
  background-color: rgb(165, 190, 190);
}

p {
  overflow: hidden;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(44, 39, 39);
  color: white;
  text-align: center;
}

#input {
  display: flex;
  gap: 0.5em;
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 2px;
}

.box-style {
  height: 30px;
  font-size: 11pt;
}
